# Игнорировать все файлы по умолчанию
*

# Разрешить директории (чтобы git мог заходить внутрь)
!*/

# Разрешить Python файлы
!*.py
!*.sh
!*.sql

# Разрешить файл учетных данных
!cred.json

# Разрешить .gitignore
!.gitignore

# Стандартные исключения для Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

